﻿@model Project_Hotel.Models.Room
@{
    /**/

    ViewBag.Title = "Book";
}
@using (Html.BeginForm("Save", "Room"))
{

    <h2>Booking for Room @Model.RoomNumber</h2>
    <br />
    <h4>@Model.RoomType</h4>
    <p> The @Model.RoomType room has @Model.BedCount bed(s)</p>
    <h4>Booking Start Date </h4> @Html.EditorFor(x => x.BookingStartDate, new { htmlAttributes = new { @class = "datepicker", @ID = "StartDateTextbox", @dateFormat = "MM/dd/yy" } })
    <h4>Booking End Date </h4> @Html.EditorFor(x => x.BookingEndDate, new { htmlAttributes = new { @class = "datepicker", @ID = "EndDateTextbox", @dateFormat = "MM/dd/yy" } })
    <h5><span style="font-size: 18px;"> Cost of Room:</span> @Model.Price + @Model.CostPerNight Per Night = $<span id="TotalCost">0</span> </h5>
    <h4>
        <span>Number of Adults:   </span><select id="AdultButton">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </h4>
    <h4>

        <span>Number of Children:   </span><select id="ChildButton">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </h4>
    <h4><span>Would you like Breakfast for your stay?($15 per person per day)</span>  @Html.CheckBoxFor(x => x.OrderedBreakfast, new { @id = "Breakfast", @onchange = "TotalPriceUpdate()" })  <br /></h4>



    @Html.HiddenFor(x => x.OrderedBreakfast)
    @Html.HiddenFor(x => x.NumberOfAdults)
    @Html.HiddenFor(x => x.NumberOfChildren)
    @Html.HiddenFor(x => x.BookingEndDate)
    @Html.HiddenFor(x => x.BookingStartDate)
    @Html.HiddenFor(x => x.Booked, new { Value = true })
    @Html.HiddenFor(x => x.RoomNumber)
    @Html.HiddenFor(x => x.Price)
    @Html.HiddenFor(x => x.RoomType)
    @Html.HiddenFor(x => x.CostPerNight)
    @Html.HiddenFor(x => x.CurrentOccupentID)
    @Html.HiddenFor(x => x.Customer)
    @Html.HiddenFor(x => x.BedCount)
    @Html.HiddenFor(x => x.ID)







    <button type="submit" class="btn btn-primary">Book Room</button>



}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "2018:2020",
                onSelect: function (datesel) {
                    $('.datepicker').trigger('change')
                }
            });
        });


    </script>
    <script>
        $(function () {
            $('.datepicker').change( function (ev) {
                var date1 = new Date(document.getElementById("StartDateTextbox").value);
                var date2 = new Date(document.getElementById("EndDateTextbox").value);
                var timeDiff = Math.abs(date2.getTime() - date1.getTime());
                var checkBox = document.getElementById("Breakfast");
                var AdultCount = document.getElementById("AdultButton");
                var ChildCount = document.getElementById("ChildButton");
                if (checkBox.checked == true)
                {
                    var diffDays = Math.ceil((((timeDiff / (1000 * 3600 * 24)) * @Model.CostPerNight) + ((parseInt(AdultCount.value) + parseInt(ChildCount.value)) * 15 * (timeDiff / (1000 * 3600 * 24)))) + @Model.Price);
                }
                else
                {
                     var diffDays = Math.ceil((((timeDiff / (1000*3600*24))* @Model.CostPerNight)) + @Model.Price);
                }
                document.getElementById("TotalCost").textContent = diffDays.toString();
            });
        })

        function TotalPriceUpdate() {
            var date1 = new Date(document.getElementById("StartDateTextbox").value);
                var date2 = new Date(document.getElementById("EndDateTextbox").value);
                var timeDiff = Math.abs(date2.getTime() - date1.getTime());
            var checkBox = document.getElementById("Breakfast");
            var AdultCount = document.getElementById("AdultButton");
            var ChildCount = document.getElementById("ChildButton");
                if (checkBox.checked == true)
                {
                    var diffDays = Math.ceil((((timeDiff / (1000 * 3600 * 24)) * @Model.CostPerNight) + ((parseInt(AdultCount.value) + parseInt(ChildCount.value)) * 15 * (timeDiff / (1000 * 3600 * 24)))) + @Model.Price);
                }
                else
                {
                     var diffDays = Math.ceil((((timeDiff / (1000*3600*24))* @Model.CostPerNight)) + @Model.Price);
                }
                document.getElementById("TotalCost").textContent = diffDays.toString();
        }
    </script>



}