﻿@model Project_Hotel.Models.Room
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (@Html.BeginForm("Save", "Room"))
{
    @Html.AntiForgeryToken()
    if (Model.ReferenceNumber != null)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.ReferenceNumber)
            @Html.TextBoxFor(m => m.ReferenceNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ReferenceNumber)
        </div>
    }
    else
    {

    }
    <div class="form-group">
        @Html.LabelFor(m => m.RoomNumber)
        @Html.TextBoxFor(m => m.RoomNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RoomType)
        @Html.TextBoxFor(m => m.RoomType, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CostPerNight)
        @Html.TextBoxFor(m => m.CostPerNight, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Booked)
        @Html.EditorFor(m => m.Booked, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.ID)

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", "Room", new { @class = "btn btn-primary" })


}
