﻿@model IEnumerable<Project_Hotel.Models.Room>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of all Rooms</h2>
<table width="100%" class="table table-hover">
    <tr>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Price Per Night</th>
        <th>Booked</th>
        <th>Booked From</th>
        <th>Booked Until</th>
    </tr>
    @foreach (var Room in Model)
    {
    <tr onclick="location.href='@Url.Action("Single","Room", new { Room.ID })'" style="cursor:pointer;">
        <td>@Room.RoomNumber</td>
        <td>@Room.RoomType</td>
        <td>@Room.CostPerNight</td>
        <td>@Room.Booked</td>
        @if (Room.Booked == true)
    {
        <td>@Room.BookingStartDate</td>
        <td>@Room.BookingEndDate</td>
}
    </tr>
    }
</table>