﻿@model Project_Hotel.Models.Room
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Room @Model.RoomNumber Information</h2>

<table width="20%">

    @if (Model.CurrentOccupentID != 0)
    {
        <tr>
            <th>Current Occupent</th>
            <td>@Model.CurrentOccupentID</td>
        </tr>}
    @if (@Model.ReferenceNumber != null)
    {
        <tr>
            <th>@Html.LabelFor(m => m.ReferenceNumber):</th>
            <td>@Model.ReferenceNumber</td>
        </tr>
    }
    else
    { }
    <tr>
        <th>@Html.LabelFor(m => m.Price):</th>
        <td>@Model.Price</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(m => m.RoomType):</th>
        <td>@Model.RoomType</td>
    </tr>
    @if (@Model.Components != null)
    {
        <tr>
            <th>@Html.LabelFor(m => m.Components):</th>
            <td>@Model.Components</td>
        </tr>
    }
    else
    { }
    <tr>
        <th>@Html.LabelFor(m => m.CostPerNight):</th>
        <td>@Model.CostPerNight</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(m => m.Booked):</th>
        <td>@Model.Booked</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(m => m.BedCount):</th>
        <td>@Model.BedCount bed(s)</td>
    </tr>

</table>

@Html.ActionLink("Edit Room", "Edit", "Room", new { id = Model.ID }, new { @class = "btn btn-primary" })
@Html.ActionLink("Book/Bid", "Book", "Room", new { id = Model.ID }, new { @class = "btn btn-primary" })