﻿@model Project_Hotel.Models.AspuserCustomerViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model._IndexViewModel.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword")
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword")
}
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model._IndexViewModel.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

         Uncomment the following block after you have set up two-factor authentication
        *@
        @*
        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
            }
        </dd>
        *@
        @*<dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
        @*@if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Enabled
                <input type="submit" value="Disable" class="btn btn-link" />
                </text>
            }
        }
        else
        {
            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Disabled
                <input type="submit" value="Enable" class="btn btn-link" />
                </text>
            }
        }*@
        <br />
        @if (Model._Customers.FirstName == "admin")
    {
        <H4>You Are An Admin You can View The Customer Page </H4>
        @Html.ActionLink("Customers", "Index", "Customer",null, new { @class = "btn btn-primary" })
}
else
{
    <div>
        @Html.LabelFor(x => x._Customers.FirstName): @Model._Customers.FirstName
    </div>
    <div>
        @if (Model._Customers.MiddleName != null)
    {
        @Html.LabelFor(x => x._Customers.MiddleName)@: :  @Model._Customers.MiddleName
}
    </div>
    <div>
        @Html.LabelFor(x => x._Customers.LastName): @Model._Customers.LastName
    </div>
    <div>
        @Html.LabelFor(x => x._Customers.Email): @Model._Customers.Email
    </div>
    <div>
        @Html.LabelFor(x => x._Customers.Address): @Model._Customers.Address
    </div>
    <div>
        @Html.LabelFor(x => x._Customers.DOB): @Model._Customers.DOB
    </div>
    <div>
        @Html.LabelFor(x => x._Customers.Phone): @Model._Customers.Phone
    </div>
}
        </dd>
    </dl>
</div>
