﻿@model Project_Hotel.Models.Customers
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (@Html.BeginForm("Save", "Customer"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <h4>FirstName</h4>
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        <h4>Middlenames(s) [Seperated by spaces]</h4>
        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <h4>LastName</h4>
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <h4>Email</h4>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <h4>Address</h4>
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <h4>Date of Birth   </h4>
        @Html.TextBoxFor(m => m.DOB, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <h4>Phone Number</h4>
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.ID)

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", "Room", new { @class = "btn btn-primary" })


}
