﻿@model IEnumerable<Project_Hotel.Models.Customers>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of all Customers</h2>
<table width="100%" class="table table-hover">

    <tr>
        <th>First Name</th>
        <th>Middlename(s)</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>DOB</th>
        <th>Phone Number</th>
    </tr>
    @foreach (var Customer in Model)
    {
        <tr onclick="location.href='@Url.Action("Single","Customer", new { Customer.ID })'" style="cursor:pointer;" >
            <td>@Html.ActionLink(Customer.FirstName, "single", new { Customer.ID }, null)</td>
            <td>@Customer.MiddleName</td>
            <td>@Customer.LastName</td>
            <td>@Customer.Email</td>
            <td>@Customer.Address</td>
            <td>@Customer.DOB</td>
            <td>@Customer.Phone</td>
        </tr>
    }
</table>