﻿@model Project_Hotel.Models.Customers
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Information</h2>

<table width="30%">
    <tr>
        <th>@Html.LabelFor(s => s.FirstName):</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(s => s.MiddleName):</th>
        <td>@Model.MiddleName</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(s => s.LastName):</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(s => s.Email):</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(s => s.Address):</th>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(s => s.DOB):</th>
        <td>@Model.DOB</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(s => s.Phone):</th>
        <td>@Model.Phone</td>
    </tr>

</table>

@Html.ActionLink("Edit Customer", "Edit", "Customer", new { id = Model.ID }, new { @class = "btn btn-primary" })